
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
        return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /countries/{countryId} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isOwner(userId);
    }

    match /federations/{federationId} {
      allow read: if true;
      allow create: if isOwner(federationId);
      allow update, delete: if isOwner(federationId);
    }

    match /federations/{federationId}/players/{playerId} {
      allow read: if isOwner(federationId) || isAdmin();
      allow create: if isOwner(federationId) && request.resource.data.federationId == federationId;
      allow update: if isOwner(federationId) && request.resource.data.federationId == resource.data.federationId;
      allow delete: if isOwner(federationId);
    }

    match /tournaments/{tournamentId} {
      allow read: if true;
      allow create, delete: if isAdmin();
      allow update: if false;
    }

    match /matches/{matchId} {
        allow read: if true;
        allow create, update, delete: if isAdmin();
    }
  }
}
