@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 120 60% 93.3%;
    --foreground: 120 25% 15%;
    --card: 120 50% 98%;
    --card-foreground: 120 25% 15%;
    --popover: 120 50% 98%;
    --popover-foreground: 120 25% 15%;
    --primary: 120 61% 50%;
    --primary-foreground: 120 25% 98%;
    --secondary: 120 30% 90%;
    --secondary-foreground: 120 25% 15%;
    --muted: 120 30% 90%;
    --muted-foreground: 120 25% 45%;
    --accent: 33 100% 50%;
    --accent-foreground: 33 25% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 30% 88%;
    --input: 120 30% 88%;
    --ring: 120 61% 50%;
    --radius: 0.5rem;
    --chart-1: 120 70% 50%;
    --chart-2: 33 80% 55%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 120 25% 12%;
    --sidebar-foreground: 120 5% 85%;
    --sidebar-primary: 120 61% 50%;
    --sidebar-primary-foreground: 120 25% 98%;
    --sidebar-accent: 120 15% 20%;
    --sidebar-accent-foreground: 120 5% 95%;
    --sidebar-border: 120 15% 20%;
    --sidebar-ring: 120 61% 50%;
  }
  .dark {
    --background: 120 25% 10%;
    --foreground: 120 5% 85%;
    --card: 120 15% 15%;
    --card-foreground: 120 5% 85%;
    --popover: 120 15% 15%;
    --popover-foreground: 120 5% 85%;
    --primary: 120 61% 50%;
    --primary-foreground: 120 25% 98%;
    --secondary: 120 15% 20%;
    --secondary-foreground: 120 5% 95%;
    --muted: 120 15% 20%;
    --muted-foreground: 120 5% 65%;
    --accent: 33 100% 50%;
    --accent-foreground: 33 25% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 15% 20%;
    --input: 120 15% 20%;
    --ring: 120 61% 50%;
    --chart-1: 120 70% 50%;
    --chart-2: 33 80% 55%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 120 25% 10%;
    --sidebar-foreground: 120 5% 85%;
    --sidebar-primary: 120 61% 50%;
    --sidebar-primary-foreground: 120 25% 98%;
    --sidebar-accent: 120 15% 20%;
    --sidebar-accent-foreground: 120 5% 95%;
    --sidebar-border: 120 15% 20%;
    --sidebar-ring: 120 61% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
